# config/config.cfg

# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2025 Masoud Bolhassani.


TEMP_WARN_YELLOW = 50
TEMP_WARN_RED = 75
ALERT_MEMORY_WARN_PERCENT = 90
ALERT_DISK_WARN_PERCENT = 90
ALERT_REQUIRE_DEFAULT_ROUTE = 1
ALERT_REQUIRE_DNS = 1

SHOW_TOP_PANELS = 0
